.text-color-black {
    color: black;
}
.is-justify-content-center {
    justify-content: center;
}
.is-justify-content-right {
    justify-content: flex-end;
}
.is-justify-content-left {
    justify-content: flex-start;
}
.is-self-align-center {
    align-self: center;
}
.is-self-align-left {
    align-self: flex-start;
}
.is-self-align-right {
    align-self: flex-end;
}
.margin-center {
    margin-left: auto;
    margin-right: auto;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.is-icon-circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.form-inline .field {
    display: flex;
}

.form-inline .field > * {
    margin-left: 0;
    margin-right: 0;
}

.form-inline .field > .input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 66.66667%;
}
.form-inline .field > .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.no-border {
    border: 0;
}

.cover {
    min-height: 350px;
    color: #232222 !important;
}

.main-box {
    margin-top: -200px;
    margin-bottom: 0 !important;
    height: 400px;
}

.main-box .avatar {
    margin-top: -64px;
}

.main-box + .first-content {
    margin-top: -200px;
    padding-top: 200px;
}

.is-gray {
    background-color: #f2f2f2;
}

.main-box .title, .main-box .subtitle {
    line-height: 1.8;
}