$class-slug: for !default

@for $i from 1 through 100
  .has-margin-top-#{$i}
    margin-top: $i + 0px
  +mobile
    .has-margin-top-#{$i}-mobile
      margin-top: $i + 0px
  +tablet
    .has-margin-top-#{$i}-tablet
      margin-top: $i + 0px
  +tablet-only
    .has-margin-top-#{$i}-tablet-only
      margin-top: $i + 0px
  +touch
    .has-margin-top-#{$i}-touch
      margin-top: $i + 0px
  +desktop
    .has-margin-top-#{$i}-desktop
      margin-top: $i + 0px
  +desktop-only
    .has-margin-top-#{$i}-desktop-only
      margin-top: $i + 0px
  +until-widescreen
    .has-margin-top-#{$i}-until-widescreen
      margin-top: $i + 0px
  +widescreen
    .has-margin-top-#{$i}-widescreen
      margin-top: $i + 0px
  +widescreen-only
    .has-margin-top-#{$i}-widescreen-only
      margin-top: $i + 0px
  +until-fullhd
    .has-margin-top-#{$i}-until-fullhd
      margin-top: $i + 0px
  +fullhd
    .has-margin-top-#{$i}-fullhd
      margin-top: $i + 0px
  .has-margin-bottom-#{$i}
    margin-bottom: $i + 0px
  +mobile
    .has-margin-bottom-#{$i}-mobile
      margin-bottom: $i + 0px
  +tablet
    .has-margin-bottom-#{$i}-tablet
      margin-bottom: $i + 0px
  +tablet-only
    .has-margin-bottom-#{$i}-tablet-only
      margin-bottom: $i + 0px
  +touch
    .has-margin-bottom-#{$i}-touch
      margin-bottom: $i + 0px
  +desktop
    .has-margin-bottom-#{$i}-desktop
      margin-bottom: $i + 0px
  +desktop-only
    .has-margin-bottom-#{$i}-desktop-only
      margin-bottom: $i + 0px
  +until-widescreen
    .has-margin-bottom-#{$i}-until-widescreen
      margin-bottom: $i + 0px
  +widescreen
    .has-margin-bottom-#{$i}-widescreen
      margin-bottom: $i + 0px
  +widescreen-only
    .has-margin-bottom-#{$i}-widescreen-only
      margin-bottom: $i + 0px
  +until-fullhd
    .has-margin-bottom-#{$i}-until-fullhd
      margin-bottom: $i + 0px
  +fullhd
    .has-margin-bottom-#{$i}-fullhd
      margin-bottom: $i + 0px
  .has-margin-left-#{$i}
    margin-left: $i + 0px
  +mobile
    .has-margin-left-#{$i}-mobile
      margin-left: $i + 0px
  +tablet
    .has-margin-left-#{$i}-tablet
      margin-left: $i + 0px
  +tablet-only
    .has-margin-left-#{$i}-tablet-only
      margin-left: $i + 0px
  +touch
    .has-margin-left-#{$i}-touch
      margin-left: $i + 0px
  +desktop
    .has-margin-left-#{$i}-desktop
      margin-left: $i + 0px
  +desktop-only
    .has-margin-left-#{$i}-desktop-only
      margin-left: $i + 0px
  +until-widescreen
    .has-margin-left-#{$i}-until-widescreen
      margin-left: $i + 0px
  +widescreen
    .has-margin-left-#{$i}-widescreen
      margin-left: $i + 0px
  +widescreen-only
    .has-margin-left-#{$i}-widescreen-only
      margin-left: $i + 0px
  +until-fullhd
    .has-margin-left-#{$i}-until-fullhd
      margin-left: $i + 0px
  +fullhd
    .has-margin-left-#{$i}-fullhd
      margin-left: $i + 0px
  .has-margin-right-#{$i}
    margin-right: $i + 0px
  +mobile
    .has-margin-right-#{$i}-mobile
      margin-right: $i + 0px
  +tablet
    .has-margin-right-#{$i}-tablet
      margin-right: $i + 0px
  +tablet-only
    .has-margin-right-#{$i}-tablet-only
      margin-right: $i + 0px
  +touch
    .has-margin-right-#{$i}-touch
      margin-right: $i + 0px
  +desktop
    .has-margin-right-#{$i}-desktop
      margin-right: $i + 0px
  +desktop-only
    .has-margin-right-#{$i}-desktop-only
      margin-right: $i + 0px
  +until-widescreen
    .has-margin-right-#{$i}-until-widescreen
      margin-right: $i + 0px
  +widescreen
    .has-margin-right-#{$i}-widescreen
      margin-right: $i + 0px
  +widescreen-only
    .has-margin-right-#{$i}-widescreen-only
      margin-right: $i + 0px
  +until-fullhd
    .has-margin-right-#{$i}-until-fullhd
      margin-right: $i + 0px
  +fullhd
    .has-margin-right-#{$i}-fullhd
      margin-right: $i + 0px
  .has-margin-#{$i}
    margin: $i + 0px
  +mobile
    .has-margin-#{$i}-mobile
      margin: $i + 0px
  +tablet
    .has-margin-#{$i}-tablet
      margin: $i + 0px
  +tablet-only
    .has-margin-#{$i}-tablet-only
      margin: $i + 0px
  +touch
    .has-margin-#{$i}-touch
      margin: $i + 0px
  +desktop
    .has-margin-#{$i}-desktop
      margin: $i + 0px
  +desktop-only
    .has-margin-#{$i}-desktop-only
      margin: $i + 0px
  +until-widescreen
    .has-margin-#{$i}-until-widescreen
      margin: $i + 0px
  +widescreen
    .has-margin-#{$i}-widescreen
      margin: $i + 0px
  +widescreen-only
    .has-margin-#{$i}-widescreen-only
      margin: $i + 0px
  +until-fullhd
    .has-margin-#{$i}-until-fullhd
      margin: $i + 0px
  +fullhd
    .has-margin-#{$i}-fullhd
      margin: $i + 0px
  .has-padding-top-#{$i}
    padding-top: $i + 0px
  +mobile
    .has-padding-top-#{$i}-mobile
      padding-top: $i + 0px
  +tablet
    .has-padding-top-#{$i}-tablet
      padding-top: $i + 0px
  +tablet-only
    .has-padding-top-#{$i}-tablet-only
      padding-top: $i + 0px
  +touch
    .has-padding-top-#{$i}-touch
      padding-top: $i + 0px
  +desktop
    .has-padding-top-#{$i}-desktop
      padding-top: $i + 0px
  +desktop-only
    .has-padding-top-#{$i}-desktop-only
      padding-top: $i + 0px
  +until-widescreen
    .has-padding-top-#{$i}-until-widescreen
      padding-top: $i + 0px
  +widescreen
    .has-padding-top-#{$i}-widescreen
      padding-top: $i + 0px
  +widescreen-only
    .has-padding-top-#{$i}-widescreen-only
      padding-top: $i + 0px
  +until-fullhd
    .has-padding-top-#{$i}-until-fullhd
      padding-top: $i + 0px
  +fullhd
    .has-padding-top-#{$i}-fullhd
      padding-top: $i + 0px
  .has-padding-bottom-#{$i}
    padding-bottom: $i + 0px
  +mobile
    .has-padding-bottom-#{$i}-mobile
      padding-bottom: $i + 0px
  +tablet
    .has-padding-bottom-#{$i}-tablet
      padding-bottom: $i + 0px
  +tablet-only
    .has-padding-bottom-#{$i}-tablet-only
      padding-bottom: $i + 0px
  +touch
    .has-padding-bottom-#{$i}-touch
      padding-bottom: $i + 0px
  +desktop
    .has-padding-bottom-#{$i}-desktop
      padding-bottom: $i + 0px
  +desktop-only
    .has-padding-bottom-#{$i}-desktop-only
      padding-bottom: $i + 0px
  +until-widescreen
    .has-padding-bottom-#{$i}-until-widescreen
      padding-bottom: $i + 0px
  +widescreen
    .has-padding-bottom-#{$i}-widescreen
      padding-bottom: $i + 0px
  +widescreen-only
    .has-padding-bottom-#{$i}-widescreen-only
      padding-bottom: $i + 0px
  +until-fullhd
    .has-padding-bottom-#{$i}-until-fullhd
      padding-bottom: $i + 0px
  +fullhd
    .has-padding-bottom-#{$i}-fullhd
      padding-bottom: $i + 0px
  .has-padding-left-#{$i}
    padding-left: $i + 0px
  +mobile
    .has-padding-left-#{$i}-mobile
      padding-left: $i + 0px
  +tablet
    .has-padding-left-#{$i}-tablet
      padding-left: $i + 0px
  +tablet-only
    .has-padding-left-#{$i}-tablet-only
      padding-left: $i + 0px
  +touch
    .has-padding-left-#{$i}-touch
      padding-left: $i + 0px
  +desktop
    .has-padding-left-#{$i}-desktop
      padding-left: $i + 0px
  +desktop-only
    .has-padding-left-#{$i}-desktop-only
      padding-left: $i + 0px
  +until-widescreen
    .has-padding-left-#{$i}-until-widescreen
      padding-left: $i + 0px
  +widescreen
    .has-padding-left-#{$i}-widescreen
      padding-left: $i + 0px
  +widescreen-only
    .has-padding-left-#{$i}-widescreen-only
      padding-left: $i + 0px
  +until-fullhd
    .has-padding-left-#{$i}-until-fullhd
      padding-left: $i + 0px
  +fullhd
    .has-padding-left-#{$i}-fullhd
      padding-left: $i + 0px
  .has-padding-right-#{$i}
    padding-right: $i + 0px
  +mobile
    .has-padding-right-#{$i}-mobile
      padding-right: $i + 0px
  +tablet
    .has-padding-right-#{$i}-tablet
      padding-right: $i + 0px
  +tablet-only
    .has-padding-right-#{$i}-tablet-only
      padding-right: $i + 0px
  +touch
    .has-padding-right-#{$i}-touch
      padding-right: $i + 0px
  +desktop
    .has-padding-right-#{$i}-desktop
      padding-right: $i + 0px
  +desktop-only
    .has-padding-right-#{$i}-desktop-only
      padding-right: $i + 0px
  +until-widescreen
    .has-padding-right-#{$i}-until-widescreen
      padding-right: $i + 0px
  +widescreen
    .has-padding-right-#{$i}-widescreen
      padding-right: $i + 0px
  +widescreen-only
    .has-padding-right-#{$i}-widescreen-only
      padding-right: $i + 0px
  +until-fullhd
    .has-padding-right-#{$i}-until-fullhd
      padding-right: $i + 0px
  +fullhd
    .has-padding-right-#{$i}-fullhd
      padding-right: $i + 0px
  .has-padding-#{$i}
    padding: $i + 0px
  +mobile
    .has-padding-#{$i}-mobile
      padding: $i + 0px
  +tablet
    .has-padding-#{$i}-tablet
      padding: $i + 0px
  +tablet-only
    .has-padding-#{$i}-tablet-only
      padding: $i + 0px
  +touch
    .has-padding-#{$i}-touch
      padding: $i + 0px
  +desktop
    .has-padding-#{$i}-desktop
      padding: $i + 0px
  +desktop-only
    .has-padding-#{$i}-desktop-only
      padding: $i + 0px
  +until-widescreen
    .has-padding-#{$i}-until-widescreen
      padding: $i + 0px
  +widescreen
    .has-padding-#{$i}-widescreen
      padding: $i + 0px
  +widescreen-only
    .has-padding-#{$i}-widescreen-only
      padding: $i + 0px
  +until-fullhd
    .has-padding-#{$i}-until-fullhd
      padding: $i + 0px
  +fullhd
    .has-padding-#{$i}-fullhd
      padding: $i + 0px

.margin-center
    margin-left: auto
    margin-right: auto

.margin-vcenter
    margin-top: auto
    margin-bottom: auto

.no-border
    border: 0

.is-justify-content-center
    justify-content: center

.is-justify-content-right
    justify-content: flex-end

.is-justify-content-left
    justify-content: flex-start

.is-self-align-center
    align-self: center

.is-self-align-left
    align-self: flex-start

.is-self-align-right
    align-self: flex-end